<mat-card class="signup-card">
  <h2>Get Started</h2>
  <mat-stepper linear>
    <mat-step label="Select Role" [stepControl]="roleForm"
      ><app-select-role
        [roleForm]="roleForm"
        (selectedRole)="getSelectedRole($event)"
      ></app-select-role
    ></mat-step>
    <mat-step label="Personal Details" [stepControl]="personalForm">
      <app-personal-details
        [personalForm]="personalForm"
      ></app-personal-details>
    </mat-step>
    <mat-step label="Professional Details" [stepControl]="professionalForm">
      <app-professional-details
        [professionalForm]="professionalForm"
        [role]="selectedRole"
      ></app-professional-details>
    </mat-step>
    <mat-step label="Account Setup" [stepControl]="accountForm">
      <app-account-setup
        [accountForm]="accountForm"
        (submitClick)="onSubmit()"
      ></app-account-setup>
    </mat-step>
  </mat-stepper>
  <p class="login-link">
    Already have an account? <a [routerLink]="PublicRoutes.Login">Login</a>
  </p>
</mat-card>
