/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tag-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}
