<div class="messages-container">
  <h2>Messages</h2>

  <div class="chat-box">
    <div class="chat-list">
      <div
        class="chat-item"
        *ngFor="let chat of chats"
        [class.active]="selectedChat === chat"
        (click)="selectChat(chat)">
        <img [src]="chat.avatar" alt="User" class="avatar">
        <div class="chat-info">
          <h4>{{ chat.name }}</h4>
          <p class="last-message">{{ chat.lastMessage }}</p>
        </div>
      </div>
    </div>

    <div class="chat-window" *ngIf="selectedChat">
      <div class="chat-header">
        <img [src]="selectedChat.avatar" alt="User" class="avatar">
        <h3>{{ selectedChat.name }}</h3>
      </div>

      <div class="chat-messages">
        <div *ngFor="let message of selectedChat.messages"
             [class.sent]="message.sentBy === 'mentor'"
             [class.received]="message.sentBy === 'mentee'">
          <p>{{ message.text }}</p>
        </div>
      </div>

      <div class="chat-input">
        <input matInput placeholder="Type a message..." [(ngModel)]="newMessage">
        <button mat-icon-button color="primary" (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>

    <div class="no-chat-selected" *ngIf="!selectedChat">
      <p>Select a chat to start messaging</p>
    </div>
  </div>
</div>
