<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Mentor Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/mentor/dashboard/sessions" routerLinkActive="active-link">My Sessions</a>
      <a mat-list-item routerLink="/mentor/dashboard/messages" routerLinkActive="active-link">Messages</a>
      <a mat-list-item routerLink="/mentor/dashboard/profile" routerLinkActive="active-link">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
